<div>
    <h1>Bienvenido</h1>
    <ul>
        <li>Nombre: {{userDatos._doc.first_name}}</li>
        <li>Apellido: {{userDatos._doc.last_name}}</li>
        <li>Email: {{userDatos._doc.email}}</li>
        <li>Edad: {{userDatos._doc.age}}</li>
        <li>Rol: {{userDatos.rol}}</li>
    </ul>
</div>
<div>
    <h1>Producto</h1>
    <a href="/perfil">Perfil</a>
    <a href="/api/sessions/users/logout">Cerrar sesion</a>
</div>
<div>
    <h1>Products</h1>
    <ul>
        {{#each products.docs}}
        <li><a href="/api/products/{{this._id}}">{{this.title}}</a></li>
        {{/each}}
    </ul>
    <div>
        {{#if products.hasPrevPage}}
            <a href="/products?page={{products.prevPage}}">Ant</a>
        {{/if}}
    </div>
    <div>
        {{#if products.hasPrevPage}}
            <a href="/products?page={{products.prevPage}}">Ant</a>
        {{/if}}
    </div>
    <span>Pagina {{products.page}} de {{products.totalPages}}</span>
    <div>
        {{#if products.hasNextPage}}
            <a href="/products?page={{products.nextPage}}">Sig</a>
        {{/if}}
    </div>
</div>